<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome <%= @team_user.user.name %></h1>
    <p>
      You receive a invite to join <%= @team_user.team.name %> !
    </p>
  </body>
</html>
