<div id="invite_modal" class="modal">
  <div class="modal-content">
    <div class="row">
      <div class="row">
        <div class="col s12">
          <h4>You are invited to join <span id="team-name"></span></h4>
          <p>Do you want to join this team?</p>
        </div>
        <div class="input-field col s12">
          <button id="decline-invite" class="btn red" data-value="">
            Decline
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
